.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
        margin-top: 1rem;
    }
}
.header__content {
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
    h3 {
        flex-direction: row;
    }
}
.subheader__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: $l-size;
}
.subheader__title {
    color: white;
    text-decoration: none;
    margin-left: $l-size;
}
.welcome {
    background: lighten($grey, 15%);
}
.welcome__content {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}